# cds
xrun.*
xcelium*
*.vcd
*.shm
.simvision
simvision*
verilog.dump
icc*
imc*
mdv*
wave_image
*.err
cov_work
.uvmtclcomm.txt
*.rpt

# questa
_info
*.qdb
*.qpg
*.qtl
_vmake

# other
*.csv
.bpad
*.history
*.log


